@model IEnumerable<CPW217_PortfolioProject2021.Models.Item>
@inject Microsoft.Extensions.Configuration.IConfiguration _config

@{
	ViewData["Title"] = "Home Page";
	string storageUrlStart = _config["BlobStorageUrl"];
}

<div class="text-center">
	<div class="card-columns" style="display: inline-block">
		@foreach (Item item in Model)
		{
			<div class="card" >
				<img class="card-img-top" src="@(storageUrlStart + "photos/" + item.PhotoUrl)" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">@item.Name</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a asp-action="Item" asp-route-id="@item.Id" class="btn btn-primary">View</a>
				</div>
			</div>
		}
		</div>
	</div>
