@model CPW217_PortfolioProject2021.Models.Item

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
    <form enctype="multipart/form-data" asp-action="Edit">
		<div class="mb-3 w-50">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<input type="hidden" asp-for="PhotoUrl" />
			<input type="hidden" asp-for="ModelUrl" />
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<div class="custom-file">
					<input asp-for="Photo" type="file" class="custom-file-input" />
					<label asp-for="Photo" class="custom-file-label">Photo</label>
					<span asp-validation-for="Photo" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group mb-3">
				<div class="custom-file">
					<input asp-for="Model" type="file" class="custom-file-input" />
					<label asp-for="Model" class="custom-file-label">Model</label>
					<span asp-validation-for="Model" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</div>
    </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
